{% extends "layout.html" %}
{% block header %}
{% endblock%}
{% block title %}Datasets{% endblock %}
{% block content %}
	<div class="container p-3">
		<h1>Mis cursos</h1>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Nombre</th>
		      <th scope="col">Fecha de comienzo</th>
		      <th scope="col">Fecha de fin</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{% for curso in cursos %}
		    <tr onclick="function1({{curso.id}});">
		      <td>{{ curso.name }}</td>
		      <td>{{ curso.start_date }}</td>
		      <td>{{ curso.end_date }}</td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
		<div class="d-grid gap-2">
			<a class="btn btn-large btn-info" href="/new_course">Crear nuevo curso</a>
		</div>
	</div>
	<script>
		function function1(id){
			window.location.href = '/courses/' + id
			
		}
	</script>
{% endblock %}