{% extends "layout.html" %}
{% block title %}Uploading{% endblock %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/dragAndDrop.css') }}">
{% endblock %}
{% block content %}
	<div class="container d-flex" style="height: 90%">
	    <div class="row align-self-center" style="width: 100%">
	     <div class="col">
				<h1>Nuevo dataset</h1>
				<span>Haga click en examinar o suelte un archivo sobre el area marcada.</span>
			</div>
			<div class="col">	
				<form action="{{url_for('uploadFile')}}" method=post enctype=multipart/form-data>
		        	<div class="card" style="height: 50px; width: 400px;">
		            	<input type=file name=file id="file" style="height: 50px; width: 400px; padding-top: 10px;">
		       		</div>
		        	<br>
		        	<input type=submit value=Upload>
		    	</form>
		    </div>
	    </div>
	</div>
   

{% endblock %}    