{% extends "layout.html" %}
{% block title %}Uploading{% endblock %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/dragAndDrop.css') }}">
{% endblock %}
{% block content %}
	<div class="container d-flex" style="height: 90%">
	    <div class="row align-self-center" style="width: 100%">
	     <div class="col">
				<h1>Nuevo dataset</h1>
				<span>Haga click en examinar o suelte un archivo sobre el area marcada.</span>
			</div>
			<div class="col">	
				<form action="{{url_for('uploadFile')}}" method=post enctype=multipart/form-data style="height: 100%">
		        	<div class="card" style="height: 50px; width: 100%;">
	            	
	       				
	       				<div class="mb-3">
								  <input  class="form-control form-control-lg" type="file" name=file id="file"  required>
								</div>

		       		</div>
		       		
		        	<br>
		        	<input class="btn btn-primary" style="width:100%" type=submit value="Subir">
		    	</form>
		    </div>
	    </div>
	</div>
   

{% endblock %}    