{% extends "layout.html" %}
{% block content %}
<head>
  <meta charset="utf-8">
  <title>change demo</title>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
 
<select id="select" name="select" class="selectpicker form-control">
              
    <option value="bar">bar</option>
    <option value="line">line</option>
                                                            
</select>

<iframe id="iframe" name="iframe" src="/intento" height="800" width="1200"></iframe>
 
<script>
$( '#select' ).change(function () {
    alert('ss');
    var iframe = $('#iframe')[0];
    selection = $( '#select' ).val();
    if(selection == 'bar')  
      iframe.src = "/intentoBar";
    else
      iframe.src = "/intentoLine";
    iframe.contentWindow.location.reload(true);
    document.getElementById('iframe').src = document.getElementById('iframe').src
    //alert($('#iframe')[0].src);
  })
  .change();  
</script>
 
</body>
{% endblock %}