{% extends "layout.html" %}
{% block header %}
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock%}
{% block content %}
<div class="modal" id="modalExplanation" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Grafo social: Twitter</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <h4>Explicación general:</h4>
        <p>En este sección podrá buscar las palabras que más apariciones tuvieron en los últimos 100 Tweets que esten relacionadas con la palabra o frase por la que quiera realizar la búsqueda. Una vez realizada la búsqueda aparecera un grafo en el que los nodos representan las palabras y las aristas la cantidad de veces que aparecieron en el mismo Tweet y también aparecerá la posibilidad de visualizar los resultados en una nube de palabras MOSTRAR PESTANIAS</p>
        <br/>
        <h4>Cómo utilizarlo:</h4>
        <p>Escriba la palabra o frase por la que quiera realizar la búsqueda en el campo:</p>
        <img src="{{url_for('static', filename='twitter_search1.png') }}" class="d-block w-100" alt="...">
        <hr>

        <p>Elija que cantidad de palabras mas buscadas quieren que aparezca en el grafo moviendo el punto del rango del campo:</p>
        <img src="{{url_for('static', filename='twitter_search2.png') }}" class="d-block w-100" alt="...">
        <hr>

        <p>Puede excluir ciertas palabras activando las opciones de exclusión</p>
        <img src="{{url_for('static', filename='twitter_search3.png') }}" class="d-block " alt="...">
        <hr>

        <p>Por último, presione el botón de buscar</p>
        <img src="{{url_for('static', filename='twitter_search4.png') }}" class="d-block " alt="...">
        <hr>




      </div>
    </div>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="card justify-content-center" style="width: 60rem; margin-top: 10px;">

    <div class="d-flex justify-content-center" style="margin-top: 10px;">
      <div class="input-group mb-3"  style="width:800px">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Palabra o frase que quiere buscar: </span>
        </div>
        <input type="text" class="form-control" id="searchString" aria-label="searchString" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <div class="input-group mb-3"  style="width:800px">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1" style="height: 38px;" >Cantidad de palabras a mostrar: <output class="input-group-text" id="quantityOutput" style=" text-align: center; height: 34px; background-color: white;">10</output> </span>
        </div>
        <input type="range" class="form-control form-range" min="5" max="25" id="quantity" value="10"  aria-describedby="basic-addon1" style="width:500px; height: 38px;" oninput="$('#quantityOutput').value = this.value"/>
      </div>
    </div>
  <div class="container">
    <h4 class="form-check-label justify-content-center" align="center">Excluir:</h4>
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="preposiciones">
            <label class="form-check-label" for="preposiciones">Preposiciones</label>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="articulos">
            <label class="form-check-label" for="articulos">Artículos</label>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="pronombres">
            <label class="form-check-label" for="pronombres">Pronombres</label>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="conjunciones">
            <label class="form-check-label" for="conjunciones">Conjunciones</label>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="adverbios">
            <label class="form-check-label" for="adverbios">Adverbios</label>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="conjugaciones">
            <label class="form-check-label" for="conjugaciones">Conjugaciones de ser, estar, haber y tener</label>
          </div>
        </div>
        <div class="d-flex">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="links">
            <label class="form-check-label" for="links">Links</label>
          </div>
        </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" style="margin-Bottom:10px;">
    <button type="button" class="btn btn-primary" style="width:200px" onclick="GenerateChart()">Buscar</button>
  </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="card justify-content-center" style="width: 60rem;">
    <div class="d-flex justify-content-center" style="margin-top: 10px;">
      <div class="d-none" id="carga" style="background: url(../static/images/charge.gif) center center no-repeat">
        <iframe id="iframe" name="iframe" src="" height="650" width="800"></iframe>  
      </div>
    </div>
</div>

<script>

  $( document ).ready(function() {

    
    $('#modalExplanation').modal('toggle');


    



  });


  function GenerateChart() {
    //iframe
    var iframe = $('#iframe')[0];
    
    //src iframe string
    var src = "/twitterSearch/";
    $('#carga').removeClass('d-none');
    //alert($('#searchString').val());
    document.getElementById('iframe').src = ""
    src = src + $('#searchString').val();

    src = src + '&' + $('#quantityOutput').val();

    if ($('#preposiciones').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    if ($('#articulos').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    if ($('#pronombres').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    if ($('#conjunciones').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    if ($('#adverbios').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    if ($('#conjugaciones').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    if ($('#links').is(':checked')) {
      src = src + '&' + '1';
    }  
    else{
      src = src + '&' + '0';
    }

    //set the url to the iframe
    iframe.src = src;

    //reload the iframe
    //iframe.contentWindow.location.reload(true);
    document.getElementById('iframe').src = document.getElementById('iframe').src;    
    //window.frames['some_frame_id'].location.href.reload()
  }

  $('#quantity').on('propertychange input', function (e) {
    var valueChanged = false;

    if (e.type=='propertychange') {
        valueChanged = e.originalEvent.propertyName=='value';
    } else {
        valueChanged = true;
    }
    if (valueChanged) {
        $('#quantityOutput').val($('#quantity').val());
    }
});

</script>  
{% endblock %}