{% extends "layout.html" %}
{% block content %}
<head>
	<style type="text/css">
		h5{
			text-align: center;
		}
		h4{
			text-align: center;
		}
	</style>
</head>

	<div class="container">
	  <div class="row align-items-start">
	    <div class="col">
	      
	    </div>
	    <div style="background-color: #468FAF; text-align:center; margin: auto;" class="col-7">
	      	
	      	<br/>
	      	<h4>por favor ingrese el tipo de dato de la columna y el nombre que tendra dicha columna (lo primero que se muestra es de ejemplo tomado desde el archivo)</h4>

	      	<br/>



			<form action="{{url_for('configurateUploadCSV')}}" method=post>

				<input type="hidden" name="filename" value="{{filename}}">
				<h5 >ingrese el nombre de la base de datos: </h5>
				<input class="form-control" style=" display:inline-block; width:300px; align-self: center; " type="text" name="database">
				<br/>
				<br/>
				
				<h5>Estado del dataset:</h5>
				<select style="display: inline; width: 300px;" id="share" name="share" class="form-select">
				  <option selected value="publico">Publico</option>
				  <option value="protegido">Protegido</option>
				  <option value="privado">Privado</option>
				</select>
				<br/>
				<br/>

				<h5>La primera fila contiene los titulos?</h5>
				<select style="display: inline;  width: 300px;" id="headers" name="headers" class="form-select">
				  <option selected value="si">Si</option>
				  <option value="no">No</option>
				</select>
				<br/>
				<br/>

				<h5>Columnas del archivo</h5>

				<div  class="card" style="margin-left: 46px ;width: 650px ;background-color: #61A5C2;" >

					{% for element in firstRow %}

						<div class="card" style="background-color: #89C2D9 ;margin: 10px; padding: 5px; display:inline-block;"> 
							
							<div style=" display:inline-block;">
								<p style="text-align: right ;width: 285px; margin-right: 15px;">valor del ejemplo </p> 
							</div>
							<div class="card" style="margin-top: 5px; padding-left: 15px; height: 40px; display:inline-block;">
								<p style="margin-top: 6px ;width: 285px; text-align: left;">{{element}}</p> 
							</div>
							<br/>
							<br/>
							<div style=" display:inline-block;">
								<p style="width: 300px">ingrese el tipo de dato de la columna: </p> 
							</div>
							<select style="display: inline;  width: 300px;" class="form-select" name="select{{loop.index}}">
							  <option value="int">numero</option>
							  <option value="date" selected>fecha</option>
							  <option value="varchar(255)" selected>cadena</option>
							  <option value="varchar(255)">grados</option>
							</select>
							<br/>
							<br/>		
							<div style="display:inline-block;">
								<p style="text-align: right ;width: 285px; margin-right: 15px;">ingrese el nombre de la columna: </p> 
							</div>
							<input class="form-control" style=" display:inline-block; width:300px" type="text" name="nameColumn{{loop.index}}">
						</div>
					 	<br/>
					
					{% endfor %} 

				</div>

				<br/>
				<br/>

				<input type=submit style="width:200px" class="btn btn-light" value=Finalizar>
			</form> 

			
			<br/>
				

	    </div>
	    <div class="col">
	      
	    </div>
	  </div>
	</div>  

{% endblock %}    