body {
    font-family: "Lato", sans-serif;
}


.blue-background{
    background-color:#89C2D9;
    padding: 80px
}

.form-group{
    width: 80%;
}

select{
    width: 80%;
}

.size-12{
    font-size: 12px;
}

.buttons-area{
    margin-top:10px;
}

.link-login{
    color:white;
    text-decoration: none;
}

.link-login:hover{
    color:black;
}

.form-group{
    width: 100%;
}

.contador_caracteres{
    float: right;
    font-weight: bold;
    font-size: 80%;
}

.text-white{
    margin-top: 1%;
}