{% extends "layout.html" %}
{% block header %} 
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/login.css') }}">
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}
{% block title %} Login  {% endblock %}
{% block content %}
<div class="container-fluid mt-2" style="height: 90%">
  <div class="row" style="height: 100%">
   <div class="col-3">
   </div>
   <div class="col-6 blue-background">   
      <h3 align="center">Formulario de registro</h3>
        <label class="text-danger d-block">{{ error }}</label>
        <label class="text-danger d-block">{{ emailExist }}</label>
        <label class="text-danger d-block">{{ emptyField }}</label>
        <label class="text-danger d-block">{{ incorrectEmail }}</label>
        <div class="main">
         <div class="login-form">
            <form action="/register" method='POST' onsubmit="return validate();">
              <div class="form-group">
                  <label>Correo electrónico</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <input type="email" name="email" id="emailInput" class="form-control" placeholder="Correo electrónico" value="{{email}}" required>
               </div>
               <div class="form-group">
                  <label class="">Nombre de usuario</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <label class="text-danger  d-block">{{ usernameExist }}</label>
                  <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Nombre de usuario" value="{{username}}" required>
               </div>
               <div class="form-group">
                  <label class="">Contraseña</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <label class="text-danger d-block">{{ passwordNoMatch }}</label>
                  <label class="text-danger d-block">{{ passwordLengthError }}</label>
                  <label class="contador_caracteres text-white mt-1" id="password-contador"></label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"  required>
               </div>
                <label class="d-none d-block text-danger" id="passwordcheck_error2">La contraseña debe tener 8 o más caracteres.</label>
                <div class="form-group" for="password_repeat">
                  <label class="">Repetir contraseña</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <input type="password" name="password_repeat" id="password_repeat" class="form-control" placeholder="Repetir contraseña" required>
                </div>
                <label class="d-none d-block text-danger" id="passwordcheck_error"></label>
                <div class="form-group">
                  <label class="" for="name">Nombre</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <input type="text" name="name" class="form-control" placeholder="Nombre" required value="{{name}}">
                </div>
                <div class="form-group">
                  <label class="" for="surname">Apellido</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <input type="text" name="surname" class="form-control" placeholder="Apellido" value="{{surname}}" required>
                </div>
                <div class="form-group">
                  <label class="" for="birthday">Fecha de nacimiento</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <label class="text-danger  d-block">{{ incorrectDate }}</label>
                  <input type="date" name="birthday" class="form-control" placeholder="Fecha de nacimiento" required value="{{birthday}}">
                </div>
                <div class="form-group">
                  <label class="" for="provinceFormControlSelect">Provincia</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <select class="form-control" id="provinceFormControlSelect" name="provinceFormControlSelect" required> 
                    <option selected value=""> -- Selecciona una opción -- </option>
                    {% for provincia in provincias %}
                    <option value="{{provincia.id}}">{{provincia.jurisdiccion}}</option>
                    {% endfor %}
                  </select>
                </div>
                  <div class="form-group d-none" id="cityFormGroup">
                  <label class="" for="cityFormControlSelect">Ciudad</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <select class="form-control" id="cityFormControlSelect" name="cityFormControlSelect" required>
                  <option selected value=""> -- Selecciona una opción -- </option>                  
                  </select>
                </div>
                <div class="form-group d-none" id="instituteFormGroup">
                  <label class="" for="instituteFormControlSelect">Establecimiento educativo</label>
                  <label class="" style="font-size:12px">(*)</label>
                  <select class="form-control" id="instituteFormControlSelect" name="instituteFormControlSelect" required>
                   <option selected value=""> -- Selecciona una opción -- </option>
                  </select>
                </div>
                <div class="buttons-area" align="center">
                  <button type="submit" name="submit" class="btn btn-dark" value="register">Registrarse</button>
                  <a type="back" name="back" class="btn btn-dark" href="{{url_for('loginForm')}}">Volver</a>
                   <span class=" d-block">(*) Campos obligatorios</span>
                </div>
            </form>
         </div>
   </div>
</div>
    <div class="col-3">
   </div>
    </div>
  </div>
  <script>
    $('#provinceFormControlSelect').on('change', function() {
      $('#cityFormGroup').removeClass('d-none');
      $.getJSON($SCRIPT_ROOT + "showRegister/" + $('#provinceFormControlSelect').val() , {
        }, function(data) {
          $("#cityFormControlSelect").empty();
          $("#instituteFormControlSelect").empty();
          $("#cityFormControlSelect").append("<option selected value=\"\"> -- Selecciona una opción -- </option>");
          //load the HTML in the "valor" box
          for (var i =  0; i < data.result.length; i++) {
            $( "#cityFormControlSelect" ).append("<option value=\"" + data.result[i][0] + "\">" + data.result[i][2] + "</option><br/>");  

          }
        });
      return false;
    });

    $('#cityFormControlSelect').on('change', function() {
      $('#instituteFormGroup').removeClass('d-none');
      $.getJSON($SCRIPT_ROOT + "showRegister/ciudad/" + $('#cityFormControlSelect').val() , {
        }, function(data) {
          $( "#instituteFormControlSelect" ).empty();
          //load the HTML in the "valor" box
          $( "#instituteFormControlSelect" ).append("<option selected value=\"\"> -- Selecciona una opción -- </option>");
          $("#instituteFormControlSelect").append("<option value=-1>Ninguno</option>")
          for (var i =  0; i < data.result.length; i++) {
            $( "#instituteFormControlSelect" ).append("<option value=\"" + data.result[i][0] + "\">" + data.result[i][3] + "</option><br/>");  
          }
          $('#instituteFormGroup').append()

        });
      return false;
    });

    let caracteres_password = 8;

    function validate(){
       var password = $('#password');
       var password_repeat = $('#password_repeat');
       $('#passwordcheck_error').addClass('d-none');
       $('#passwordcheck_error2').addClass('d-none');
       if( password.val().length < caracteres_password){
        if (password_repeat.val().length < caracteres_password){
          $('#passwordcheck_error').removeClass('d-none');
          $('#passwordcheck_error').empty();
          $('#passwordcheck_error').append("La contraseña debe tener 8 o más caracteres");
        }
        $('#passwordcheck_error2').removeClass('d-none');
        return false;
       }
       if( password.val() != password_repeat.val() ){
        $('#passwordcheck_error').removeClass('d-none');
        $('#passwordcheck_error').empty();
        $('#passwordcheck_error').append("Las contraseñas deben coincidir")
        return false;
       }
       else{
        return true;
       }
    }

    $('#password').on('input', function() {
      let total_caracteres = this.value.length;
      $('#password-contador').empty();
      if (total_caracteres<caracteres_password){
        let string = "Quedan " + (caracteres_password-this.value.length) + " caracteres"
        $('#password-contador').append(string);
      }
      else{
        $('#password-contador').append("Contraseña válida!");
      }
      if((this.value)==""){
        $('#password-contador').empty();
      }
      return false;
    });


  </script>
   
{% endblock %}