{% extends "layout.html" %}
{% block title %}Actividades{% endblock %}
{% block content %}
<div class="container">
	{% if session['role']=="student" %}
	<div name="pending_activities" class="container-fluid">
		<h1>Actividades pendientes</h1>
		<table class="table table-primary table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Título</th>
		      <th scope="col">Curso</th>
		      <th scope="col">Fecha de comienzo</th>
		      <th scope="col">Fecha de cierre</th>
		   	  <th scope="col">Estado</th>	
		  </thead>
		  <tbody>
		  	{% for activity in activities %}
		  	<tr>
		  		<td>{{activity.title}}</td>
		  		<td>{{activity.course_name}}</td>
		  		<td>{{activity.start_date.strftime('%d-%m-%y')}}</td>
		  		<td>{{activity.end_date.strftime('%d-%m-%y')}}</td>
		  		<td>{% if activity.end_date < today %} Atrasado por {{(today - activity.end_date).days }} dias {% else %} Sin entregar {% endif %}
		  		</td>
		  	</tr>
		  	{% endfor %}
		  </tbody>
		</table>
	</div>
	<div class="container-fluid" name="finished_activities">
		<h1>Actividades realizadas</h1>
		<table class="table table-primary table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Título</th>
		      <th scope="col">Curso</th>
		      <th scope="col">Fecha de cierre</th>
		      <th scope="col">Calificación</th>
		      <th scope="col">Comentario</th>
		    </tr>
		  </thead>
		  </tbody>
		</table>
	</div>
	{% endif %}
</div>

{% endblock %}