{% extends "layout.html" %}
{% block title %}Actividades{% endblock %}
{% block content %}
<div class="container p-2 mt-2" style="width: 60%;background-color:#89C2D9;" align="center">
	<h2>Actividad de {{student.name}} {{student.surname}}</h2>
	IMAGENES
	COMENTARIO

	<div class="container" align="left">
		<h5>Corrección</h5>
		<form method="POST" action="/activity/correctActivity/{{activity.id}}&{{student.id}}">
		  {% if activity.has_calification %}
		  <div class="form-group">
		    <label for="calification">Nota</label>
		    <input type="number" name="calification" min="0" max="10" class="form-control" id="calification" placeholder="Ingresar nota">
		  </div>
		  {% else %}
		  <span>Esta actividad no posee calificación</span>
		  {% endif %}
		  <div class="form-group">
		    <label for="comment">Comentario</label>
		    <textarea rows="3" class="form-control" id="comment" name="comment" placeholder="Comentario"></textarea>
		  </div>
		  <div class="d-grid gap-2 mt-2">
		  	<button type="submit" class="btn btn-primary">Enviar corrección</button>
		  </div>
		</form>
	</div>
</div>
{% endblock %}