{% extends "layout.html" %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/activities.css') }}">
{% endblock %}
{% block title %}Actividades{% endblock %}
{% block content %}
	<div class="container">
		<h2>Nueva actividad</h2>
		<form method="POST" action="/activities/create_activity">
			<div class="form-group">
		    	<label class="titulo-form" for="inputTitle">Titulo</label>
		    	<input type="text" class="form-control" name="title" id="inputTitle" placeholder="Ingrese un título">
		  	</div>
		  	<div class="md-form">
		  		<label class="titulo-form" for="inputDescription">Descripción</label>
		    	<textarea class="md-textarea form-control" name="description" id="inputDescription" rows="3"></textarea>
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputDescription">Dataset</label>
		  		<select class="form-select">
		 			<option>DATASET 1</option>
		 			<option>DATASET 2</option>
		  		</select>
		  	</div>
		  	<div class="form-group">
		  		<label class="d-block titulo-form">Gráficos permitidos</label>
		  		{% for graph in graphs %}
		  		<input type="checkbox" class="form-check-input" id="checkboxGraph{{ graph.id }}" value="{{ graph.id }}" name="graph">
    			<label class="form-check-label" for="checkboxGraph{{ graph.id }}">{{ graph.spanish_name }}</label>
		  		{% endfor %}
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputBeginDate">Fecha de inicio</label>
		  		<input type="date" class="form-control" name="startDate" id="inputBeginDate">
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputEndDate">Fecha de fin</label>
		  		<input type="date" class="form-control" name="endDate" id="inputEndDate">
		  	</div>
		  	<input type="hidden" name="course" value="{{course_id}}">
		  	<button type="submit" class="btn btn-primary btn-lg mt-1" >Crear</button>
		</form>
	</div>
{% endblock %}