{% extends "layout.html" %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/activities.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}
{% block title %}Actividades{% endblock %}
{% block content %}
	<div class="container">
		<h2>Nueva actividad</h2>
		<form method="POST" action="/activities/create_activity" onsubmit="return validate();">
			<label class="text-danger d-block">{{emptyFields}}</label>
			<div class="form-group">
		    	<label class="titulo-form" for="inputTitle">Titulo de actividad</label>
		    	<span class="contador_caracteres" id="contador_caracteres_titulo">Máximo 64 caracteres</span>
		    	<input type="text" class="form-control" maxlength="64" name="title" id="inputTitle" placeholder="Ingrese un título">
		  	</div>
		  	<div class="md-form">
		  		<span class="titulo-form">Enunciado (El alumno solo vera esta sección en su actividad)</span>
		  		<div class="card d-block p-3">
					  	<label class="titulo-form" for="inputStatementTitle">Título del enunciado</label>
				  		<span class="contador_caracteres" id="contador_caracteres_enunciado_titulo">Máximo 64 caracteres</span>
				    	<input type="text" value="{{title}}" class="form-control" maxlength="64" name="inputStatementTitle" id="inputStatementTitle">
				    	<label class="titulo-form" for="inputStatement">Consigna</label>
				  		<span class="contador_caracteres" id="contador_caracteres_consigna">Máximo 256 caracteres</span>
				    	<textarea class="md-textarea form-control" maxlength="256" name="inputStatement" id="inputStatement" rows="2"></textarea>
				</div>
		  		
		  	</div>
		  	<div class="md-form">
		  		<label class="titulo-form" for="inputObjective">Objetivo</label>
		  		<span class="contador_caracteres" id="contador_caracteres_objetivo">Máximo 256 caracteres</span>
		    	<textarea class="md-textarea form-control" maxlength="256" name="objective" id="inputObjective" rows="2"></textarea>
		  	</div>
		  	<div class="md-form">
		  		<label class="titulo-form" for="inputDescription">Descripción</label>
		  		<span class="contador_caracteres" id="contador_caracteres_descripcion">Máximo 256 caracteres</span>
		    	<textarea class="md-textarea form-control" maxlength="256" name="description" id="inputDescription" rows="2"></textarea>
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputDescription">Dataset</label>
		  		<select class="form-select" name="datasetSelect">
		  			{% for dataset in datasets %}
		 					<option value="{{dataset.id}}">{{dataset.dataset_name}}</option>
		 			{% endfor %}
		  		</select>
		  	</div>
		  	<label class="text-danger d-block">{{errorGraficos}}</label>
		  	<div class="form-group">
		  		<label class="d-block titulo-form">Gráficos permitidos</label>
		  		{% for graph in graphs %}
		  		<input type="checkbox" class="form-check-input" id="checkboxGraph{{ graph.id }}" value="{{ graph.id }}" name="graph">
    			<label class="form-check-label" for="checkboxGraph{{ graph.id }}">{{ graph.spanish_name }}</label>
		  		{% endfor %}
		  	</div>
		  	<div class="form-group mb-1">
		  		<input class="form-check-input" type="checkbox" name="checkboxSocialGraph" id="checkboxSocialGraph">
		  		<label for="checkboxSocialGraph">Grafos sociales</label>
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputBeginDate">Fecha de publicación</label>
		  		<input type="date" class="form-control" name="startDate" id="inputBeginDate">
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputEndDate">Fecha de entrega</label>
		  		<input type="date" class="form-control" name="endDate" id="inputEndDate">
				<label class="d-none d-block text-danger" id="dates_error"></label>
				<label class="d-block text-danger">{{errorFechas}}</label>
		  	</div>
		  	<div class="form-group">
		  		<label class="titulo-form" for="inputEndDate">Crear actividad para:</label>
		  		<select class="form-select" aria-label="Default select example" name="student_select" id="student_select">
				  <option selected value="0">Todos los estudiantes</option>
				  <option value="1">Grupo reducido</option>
				</select>
		  	</div>
		  	<div class="card d-none m-3" id="student_checkbox">
		  	  <div class="card-header">
			    Estudiantes incluidos:
			  </div>
			  <div class="card-body">
			   	{% for student in students%}
		  		<div class="form-check">
				  <input class="form-check-input" type="checkbox" value="{{student[1]}}" id="student{{student[1]}}" checked name="student_checkbox">
				  <label class="form-check-label" for="student{{student[1]}}">
				  {{student.surname}}, {{student.name}}
				  </label>
				</div>
				{% endfor %}
			  </div>
			</div>
		  	<div class="form-group mb-1">
		  		<input class="form-check-input" type="checkbox" name="checkboxExpiredDate" id="checkboxExpiredDate" value="1">
		  		<label for="checkboxExpiredData">Permitir entrega fuera de término</label>
		  	</div>
		  	 <div class="form-group">
		  		<input class="form-check-input" type="checkbox" name="checkboxNoCalification" id="checkboxNoCalification" value="1">
		  		<label for="checkboxNoCalification">Actividad sin calificación</label>
		  	</div>
		  	<input type="hidden" name="course" value="{{course_id}}">
		  	<div class="d-grid gap-2 mb-2">
		  		<button type="submit" class="btn btn-info mt-1" >Crear actividad</button>
			</div>
		</form>
	</div>
	<script>
		function validate(){
			var fecha_inicio = new Date($('#inputBeginDate'));
			var fecha_fin = new Date($('#inputEndDate'));
			if (fecha_inicio>fecha_fin){
		 		$('#dates_error').removeClass('d-none');
		        $('#dates_error').empty();
		        $('#dates_error').append("La fecha de fin debe ser posterior a la de comienzo.");
		        return false;
			}
			else{
				return true;
			}
		}

		let caracteres_descripcion=256;
		let caracteres_objetivo=256;
		let caracteres_titulo=64;
		let caracteres_consigna=256;
		let caracteres_titulo_enunciado=64;

		$('#inputTitle').on('input', function() {
	      let total_caracteres = this.value.length;
	      $('#contador_caracteres_titulo').empty();
	      if (total_caracteres<=caracteres_titulo){
	      	$('#contador_caracteres_titulo').removeClass('text-danger');
	        let string = "Quedan " + (caracteres_titulo-this.value.length) + " caracteres."
	        $('#contador_caracteres_titulo').append(string);
	      }
	      else{
	      	$('#contador_caracteres_titulo').addClass('text-danger');
	      	let mensaje = "Se excede por " +  (caracteres_titulo-this.value.length)*-1 + " caracteres."
	        $('#contador_caracteres_titulo').append(mensaje);
	      }
	      if((this.value)==""){
	        $('#contador_caracteres_titulo').empty();
	        $('#contador_caracteres_titulo').append("Máximo 64 caracteres");
	      }
	      return false;
	    });

		$('#inputDescription').on('input', function() {
	      let total_caracteres = this.value.length;
	      $('#contador_caracteres_descripcion').empty();
	      if (total_caracteres<=caracteres_descripcion){
	      	$('#contador_caracteres_descripcion').removeClass('text-danger');
	        let string = "Quedan " + (caracteres_descripcion-this.value.length) + " caracteres."
	        $('#contador_caracteres_descripcion').append(string);
	      }
	      else{
	      	$('#contador_caracteres_descripcion').addClass('text-danger');
	      	let mensaje = "Se excede por " +  (caracteres_descripcion-this.value.length)*-1 + " caracteres."
	        $('#contador_caracteres_descripcion').append(mensaje);
	      }
	      if((this.value)==""){
	        $('#contador_caracteres_descripcion').empty();
	        $('#contador_caracteres_descripcion').append("Máximo 256 caracteres");
	      }
	      return false;
	    });

		$('#inputObjective').on('input', function() {
	      let total_caracteres = this.value.length;
	      $('#contador_caracteres_objetivo').empty();
	      if (total_caracteres<=caracteres_descripcion){
	      	$('#contador_caracteres_objetivo').removeClass('text-danger');
	        let string = "Quedan " + (caracteres_descripcion-this.value.length) + " caracteres."
	        $('#contador_caracteres_objetivo').append(string);
	      }
	      else{
	      	$('#contador_caracteres_objetivo').addClass('text-danger');
	      	let mensaje = "Se excede por " +  (caracteres_descripcion-this.value.length)*-1 + " caracteres."
	        $('#contador_caracteres_objetivo').append(mensaje);
	      }
	      if((this.value)==""){
	        $('#contador_caracteres_objetivo').empty();
	        $('#contador_caracteres_objetivo').append("Máximo 256 caracteres");
	      }
	      return false;
	    });

	    $('#inputStatementTitle').on('input', function() {
	      let total_caracteres = this.value.length;
	      $('#contador_caracteres_enunciado_titulo').empty();
	      if (total_caracteres<=caracteres_titulo_enunciado){
	      	$('#contador_caracteres_enunciado_titulo').removeClass('text-danger');
	        let string = "Quedan " + (caracteres_titulo_enunciado-this.value.length) + " caracteres."
	        $('#contador_caracteres_enunciado_titulo').append(string);
	      }
	      else{
	      	$('#contador_caracteres_enunciado_titulo').addClass('text-danger');
	      	let mensaje = "Se excede por " +  (caracteres_titulo_enunciado-this.value.length)*-1 + " caracteres."
	        $('#contador_caracteres_enunciado_titulo').append(mensaje);
	      }
	      if((this.value)==""){
	        $('#contador_caracteres_enunciado_titulo').empty();
	        $('#contador_caracteres_enunciado_titulo').append("Máximo 256 caracteres");
	      }
	      return false;
	    });

	    $('#inputStatement').on('input', function() {
	      let total_caracteres = this.value.length;
	      $('#contador_caracteres_consigna').empty();
	      if (total_caracteres<=caracteres_consigna){
	      	$('#contador_caracteres_consigna').removeClass('text-danger');
	        let string = "Quedan " + (caracteres_consigna-this.value.length) + " caracteres."
	        $('#contador_caracteres_consigna').append(string);
	      }
	      else{
	      	$('#contador_caracteres_consigna').addClass('text-danger');
	      	let mensaje = "Se excede por " +  (caracteres_consigna-this.value.length)*-1 + " caracteres."
	        $('#contador_caracteres_consigna').append(mensaje);
	      }
	      if((this.value)==""){
	        $('#contador_caracteres_consigna').empty();
	        $('#contador_caracteres_consigna').append("Máximo 256 caracteres");
	      }
	      return false;
	    });

		$('#student_select').on('change', function(){
			var opcion = $(this).val();
			if (opcion == 1){
				$('#student_checkbox').removeClass('d-none');
			}else{
				$('#student_checkbox').addClass('d-none');
				$('input[name="student_checkbox"').prop("checked", true);
			}
		});
	    
	</script>
{% endblock %}