{% extends "layout.html" %}
{% block title %}Actividades{% endblock %}
{% block content %}
<div class="container " style="width: 60%;background-color:#89C2D9; padding-bottom: 15px;" align="center">
	<h2>Actividad de {{student.name}} {{student.surname}}</h2>
	<hr>
	<h3>Enunciado<h2>
	<h4>{{activity.statement_tile}}</h4>
	<p>{{activity.statement}}</p>
	<hr>
	<h3>Entregas realizadas por el estudiante</h3>
	<table class="table" style="">
    	<thead>
    		<tr>
    			<th>Pestaña entregada</th>
    			<th>Fecha</th>
    			<th>Ver entrega</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for resolution in resolutions %}
    			<tr>
    			<td>
    				{% if resolution.resolution_type == 'plotter' %}

    					Gráfico

    				{% else %}

    					Grafo social

    				{% endif %}


    			</td>
    			<td>{{resolution.date_resolution}}</td>
    			<td>
    				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#resolutionModal{{resolution.id_resolution}}">
							  Ver
							</button>
    			</td>

    			</tr>
    			{% if resolution.resolution_type == 'plotter' %}

    			<!-- Modal -->
							<div class="modal fade" id="resolutionModal{{resolution.id_resolution}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
							  <div class="modal-dialog"  style="max-width: 80%; height: 1050px;" role="document">
							    <div class="modal-content" style="height:1000">
							      <div class="modal-header">        
			        	        <h5 class="modal-title">resolucion</h5>
							        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body" style="width:100%; height:1050px">
							      	<p class="text-start">Comentario:</p>
							      	<div class="card">
							      		<p class="text-start">{{resolution.commentary}}</p>
							      	</div>
							      	<hr>
							      	<h3>Grafico</h3>
							      	<iframe id="iframe{{resolution.id_resolution}}" src="{{url_for('view_resolution_graph', resolutionId=resolution.id_resolution)}}" id="iframeResolution{{resolution.id_resolution}}" style="width:100%; height:800px;" scrolling="no" ></iframe>
							        
							      </div>
							    </div>
							  </div>
							</div>
							{% else %}

							<!-- Modal -->
							<div class="modal fade" id="resolutionModal{{resolution.id_resolution}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
							  <div class="modal-dialog"  style="max-width: 80%; height: 800px;" role="document">
							    <div class="modal-content" style="height:800">

							      <div class="modal-header">        
			        	        <h5 class="modal-title">resolucion</h5>
							        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							      </div>
							      <div class="modal-body" style="width:100%; height:650px">
							      	<p class="text-start">Comentario:</p>
							      	<div class="card">
							      		<p class="text-start">{{resolution.commentary}}</p>
							      	</div>
							      	<hr>
							      	<h3>Grafico</h3>
							      	<iframe id="iframe{{resolution.id_resolution}}" src="{{url_for('view_resolution_social_graph', resolutionId=resolution.id_resolution)}}" id="iframeResolution{{resolution.id_resolution}}" style="width:100%; height:400px;" scrolling="no" ></iframe>
							        
							      </div>
							    </div>
							  </div>
							</div>


							{% endif %}


    		{% endfor%}


    	</tbody>
    </table>	

    <hr>

	<div class="container" align="left">
		<div class="d-grid gap-2 mt-2">
			<a class="btn btn-primary"  href="/activities">Volver</a>
		</div>
	</div>
</div>
{% endblock %}